.card-work{
    height: 500px;
    width: 500px;
}

.swiper-container{
    width: 90%;
    padding-bottom: 50px;
}

.swiper-wrapper{
    padding: 20px;
}

.swiper-button-prev {
    position: relative;
}

.swiper-button-next{
    position: relative;
    right: 20px;
}